<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/report.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <meta name="description" content="家計簿レポート。">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>レポート</title>
</head>

<body>
    {{template "header" .}}
    <main class="report-content">
        <h2>収支レポート</h2>
        <div class="content-display-date">
            <span>表示期間</span>
            <form method="GET">
                <select class="display-date" name="display" onchange="this.form.submit()">
                    <option value="0" {{if eq .DisplayType 0}}selected{{end}}>直近6ヶ月</option>
                    <option value="1" {{if eq .DisplayType 1}}selected{{end}}>直近3ヶ月</option>
                </select>
            </form>
        </div>
        <div class="content-graph">
            <div class="amount">金額（円）</div>
            <canvas id="report-chart"></canvas>
        </div>
        <div class="content-total">
            <h3 id="total-htitle">集計</h3>
            <div class="total-list">
                <div class="total-card total-income">
                    <p class="total-title">収入</p>
                    <p class="total-amount" id="income-amount"></p>
                </div>
                <div class="total-card total-expense">
                    <p class="total-title">支出</p>
                    <p class="total-amount" id="expense-amount"></p>
                </div>
                <div class="total-card total-balance">
                    <p class="total-title">収支</p>
                    <p class="total-amount" id="balance-amount"></p>
                </div>
            </div>
        </div>
        <p class="note">※グラフは月ごとの合計金額を表示しています</p>
    </main>

    <script src="/js/report.js"></script>
    <script>
        initReportChart(
            {{ .MonthJSON }},
            {{ .IncomeJSON }},
            {{ .ExpenseJSON }}
        );
    </script>
</body>

</html>